@tailwind base;
@tailwind components;
@tailwind utilities;
HTML {
  height: 100%;
}
Body {
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
#bg {
  background-image: url('/bg.png');
  background-repeat: no-repeat;
  background-size: 100%;
  backdrop-filter: blur(0.5px);
  backdrop-filter: hue-rotate(10deg);
}

#consultoriaBG {
  background-image: url('/consultoriaBG.png');
  background-repeat: no-repeat;
  background-size: 100%;
  backdrop-filter: blur(0.5px);
  backdrop-filter: hue-rotate(10deg);
}
#desenvolvimentoBG {
  background-image: url('/desenvolvimentoBG.png');
  background-repeat: no-repeat;
  background-size: 100%;
  backdrop-filter: blur(0.5px);
  backdrop-filter: hue-rotate(10deg);
}
#analiseBG {
  background-image: url('/analiseBG.png');
  background-repeat: no-repeat;
  background-size: 100%;
  backdrop-filter: blur(0.5px);
  backdrop-filter: hue-rotate(10deg);
}
#bg_1 {
  background-image: url('/consultoria.png');
  background-repeat: no-repeat;
  background-size: 90%;
  background-position-x: 50%;
  backdrop-filter: blur(0.5px);
  backdrop-filter: hue-rotate(10deg);
  height: 535px;
}
#bg_2 {
  background-image: url('/desenvolvimento.png');
  background-repeat: no-repeat;
  background-size: 90%;
  background-position-x: 50%;
  backdrop-filter: blur(0.5px);
  backdrop-filter: hue-rotate(10deg);
  height: 535px;
}
#bg_3 {
  background-image: url('/analisededados.png');
  background-repeat: no-repeat;
  background-size: 90%;
  background-position-x: 50%;
  backdrop-filter: blur(0.5px);
  backdrop-filter: hue-rotate(10deg);
  height: 535px;
}
.card:hover {


}

.card-back {

  
}
@media only screen and (max-width: 1400px) {
  #bg {
    background-image: url('/bg2.png');
    background-repeat: no-repeat;
    background-size: 100%;
    backdrop-filter: blur(0.5px);
    backdrop-filter: hue-rotate(10deg);
  }
  #consultoriaBG {
    background-image: url('/bgConsultoria2.png');
    background-repeat: no-repeat;
    background-size: 100%;
    backdrop-filter: blur(0.5px);
    backdrop-filter: hue-rotate(10deg);
  }
  #desenvolvimentoBG {
    background-image: url('/bgDesenvolvimento2.png');
    background-repeat: no-repeat;
    background-size: 100%;
    backdrop-filter: blur(0.5px);
    backdrop-filter: hue-rotate(10deg);
  }
  #analiseBG {
    background-image: url('/bgAnalise2.png');
    background-repeat: no-repeat;
    background-size: 100%;
    backdrop-filter: blur(0.5px);
    backdrop-filter: hue-rotate(10deg);
  }
  #bg_1 {
    height: 500px;
    background-size: 90%;
    width: 100%;
  }
  #bg_2 {
    height: 500px;
    background-size: 90%;
    width: 100%;
  }
  #bg_3 {
    height: 500px;
    background-size: 90%;
    width: 100%;
  }
}


@media (max-width: 768px) {
  #bg_1 {
    height: 280px;
    background-size: 90%;
    width: 100%;
  }
  #bg_2 {
    height: 280px;
    background-size: 90%;
    width: 100%;
  }
  #bg_3 {
    height: 280px;
    background-size: 90%;
    width: 100%;
  }
}

